<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Gestión de órdenes</h5>
                </div>
                <div class="card-body">
                    <div class="custom-datatable" *ngIf="isLoaded; else stillLoading">
                        <input type='text' class="filter-ngx form-control" placeholder='Buscar...'
                            (keyup)='updateFilter($event)' />
                        <ngx-datatable class="bootstrap" [rows]="order" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
                            <ngx-datatable-column name = "Id Orden" prop="id_orden"></ngx-datatable-column>
                            <ngx-datatable-column name = "Tipo" prop="tipo_pedido"></ngx-datatable-column>
                            <!-- <ngx-datatable-column name="Producto"></ngx-datatable-column> -->
                            <!-- <ngx-datatable-column prop="estado del pago"></ngx-datatable-column> -->
                            <!-- <ngx-datatable-column prop="método de pago"></ngx-datatable-column> -->
                            <ngx-datatable-column name="Estado" prop="estado_orden"></ngx-datatable-column>
                            <ngx-datatable-column name="Fecha Creación" prop="fecha_creacion"></ngx-datatable-column>
                            <ngx-datatable-column name="Fecha Entrega" prop="fecha_entrega"></ngx-datatable-column>
                            <!-- <ngx-datatable-column name="Total"></ngx-datatable-column> -->
                            <ngx-datatable-column  name="Acción" prop="accion">
                                <ng-template let-value="id_orden" let-row="row" ngx-datatable-cell-template>
                                  <span> 
                                    <button style="background-color: rgb(142, 184, 56);" class="btn" (click)='onSelect(row)'><i class="rb-ic rb-ic-add-frame"></i>Avanzar</button>
                                  </span>
                                </ng-template>
                              </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <ng-template #stillLoading><p>Obteniendo resultados...</p></ng-template>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->