<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Gestión de órdenes</h5>
                </div>
                <div class="card-body">
                    <div class="custom-datatable">
                        <input type='text' class="filter-ngx form-control" placeholder='Buscar...'
                            (keyup)='updateFilter($event)' />
                        <ngx-datatable class="bootstrap" [rows]="order" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
                            <ngx-datatable-column prop="id orden"></ngx-datatable-column>
                            <!-- <ngx-datatable-column name="Producto"></ngx-datatable-column> -->
                            <!-- <ngx-datatable-column prop="estado del pago"></ngx-datatable-column> -->
                            <ngx-datatable-column prop="método de pago"></ngx-datatable-column>
                            <ngx-datatable-column prop="estado de la orden"></ngx-datatable-column>
                            <ngx-datatable-column name="Fecha"></ngx-datatable-column>
                            <ngx-datatable-column name="Total"></ngx-datatable-column>
                            <ngx-datatable-column  name="Acción" prop="accion">
                                <ng-template let-value="id orden" let-row="row" ngx-datatable-cell-template>
                                  <span>
                                    
                                    <button style="background-color: rgb(22, 196, 22);" class="btn" (click)='onSelect(row)'><i class="rb-ic rb-ic-add-frame"></i>Avanzar</button>
                                  </span>
                                </ng-template>
                              </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->